body {
    background: url('train.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-form {
    border-radius: 15px;
    border-top-right-radius: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    width: 300px;

    text-align: center;
    font-size: 20pt;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
      Helvetica, Arial, "Lucida Grande", sans-serif;
}

.login-box {
    width: 300px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

input[type=email] {
    padding: 5px;
    border: 2px;
    solid: #ccc;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
      Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=password] {
    padding: 5px;
    border: 2px;
    solid: #ccc;
}

input[type=submit] {
    padding: 5px;
    border: 2px;
    solid: #ccc;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
      Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15pt;
}

input[type=submit]:hover {
    background-color: #999;
}
